<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">new ideas will be displayed here</p>
    <a href="/ideas/app" class="btn btn-dark btn-lg">ideas</a>
</div>